<section class="slider-main-area">
    <div class="main-slider an-si">
        <div class="bend niceties preview-2 hm-ver-1">
            <div class="slides">	
                <img src="img/slider/1.png" />
            </div>
		</div>
    </div>
</section>